<div class="container">
    <img _ngcontent-fii-c48="" _ngcontent-eth-c48="" src="../../assets/avocado-toast (1).jpg" alt="" style="width: 627px;margin-top: 0px;height: 743px;margin-left: -600px;padding-bottom: 63px;">
    
    <div class="head">
        
        <div class="paragraph">
            <h1><b>___ABOUT___</b></h1>
            <p class="card-text" id="st">FOOD MANIA</p>
            <p>

                “We ought to be about something beyond moving chicken. We ought to be a piece of our client’s lives and
                the
                networks in which we serve.”

                Our originator, settled on the choice to close on Sundays in 1946 when he opened his first eatery in
                Hapeville, Georgia. Having worked seven days in eateries open 24 hours, Truett saw the significance of
                shutting on Sundays with the goal that he and his representatives could set aside one day to rest and
                love
                whether they pick a training we maintain today..</p>

        </div>

    </div>
    <div class="summary col-md-2">
        <div class="card-body">
        </div>
    </div>