<div class="body">
    <h2><b><div class="new" id="new" style="color: rgb(237, 229, 229);">WRITE TO US</div></b></h2><br>
     <form class="container col-md-8">
        <div class="container">
            <div class="name">
                <input  type="text" Name="Name" id="name"  placeholder="Name"><br><br>
            </div>
            <div class="email">
                <input type="text" id="email" placeholder="Email"><br><br>
            </div>
            <div class="comments">
                <textarea type="text" id="comment" Comments="Comments"  placeholder="Comments" ></textarea></div>
                <button type="button" id="button"  (click)="submit()">SUBMIT</button>
            </div>
    </form><br>
        
        
        

