<div class="row">
<h2>Recomended for you</h2>
    <div class="pic2 col-md-3" >
    
        <img  src="../../assets/2.webp" class="pic" style="width: 277px;" >
        <h1>FISH BIRIYANI</h1>
        <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
        <!-- <img src="../../assets/2.webp" class="pic"> -->
    </div>
    <div class="pic2 col-md-3">
        <img  src="../../assets/3.webp" alt="" style="width: 277px;">
        <H1>CHOWMEIN</H1>
        <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
        <!-- <img src="../../assets/3.webp" alt=""> -->
    </div>
    <div class="pic2 col-md-3">
        <img  src="../../assets/4.webp" alt="" style="width: 277px;">
        <H1>KABAB</H1>
        <button id="b"class="btn btn-danger" (click)="cart()">ADD TO CART</button>
    </div>
    
    
    <div class="pic2 col-md-3">
        <!-- <img src="../../assets/5.webp" alt="" style="width: 335px;"> -->
        <img  src="../../assets/5.webp" alt="" style="width: 279px;">
        <h1>CHICKEN BIRIYANI</h1>
        <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
    </div>

<h2 _ngcontent-eli-c51="" style="padding-top: 285px;">Yummy Deserts</h2>
<div class="pic2 col-md-3">
        <img  src="../../assets/iiii" class="pic1" style="width: 277px;" >
        <h3>PLUMS</h3>
        <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
</div>
<div class="pic2 col-md-3">
    <img  src="../../assets/hhhh" class="pic2" style="width: 194px;" >
    <h3>BLACK CRRENT</h3>
    <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
</div>
<div class="pic2 col-md-3">
    <img  src="../../assets/ggg.webp" class="pic3" style="width: 187px;" >
    <h3>STRAWBERRY</h3>
    <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
</div>
<div class="pic2 col-md-3">
    <img  src="../../assets/gettyimages-86056739-612x612.jpg" class="pic4" style="width: 225px;" >
    <h3>CHOCLATE</h3>
    <button id="b" class="btn btn-danger" (click)="cart()">ADD TO CART</button>
</div>


