<div class="container">
  <title>FOOD MANIAC | ADD TO CART</title>

  <nav _ngcontent-wiv-c50="" class="navbar navbar-inverse" style="margin-left: -15px;">
    <h1 _ngcontent-wiv-c50="" class="title">FO<span _ngcontent-wiv-c50="">OD</span>MANIA</h1>
    <div _ngcontent-wiv-c50="" class="par">
      <p _ngcontent-wiv-c50=""><br _ngcontent-wiv-c50="">.
      <div _ngcontent-wiv-c50="" class="menu">
        <ul _ngcontent-wiv-c50="" class="nav navbar-nav">
          <li _ngcontent-wiv-c50=""><a _ngcontent-wiv-c50="" routerlink="/home" ng-reflect-router-link="/home"
              href="/home">HOME</a></li>
          <li _ngcontent-wiv-c50=""><a _ngcontent-wiv-c50="" routerlink="/product" ng-reflect-router-link="/product"
              href="/product">PRODUCT</a></li>
          <li _ngcontent-wiv-c50=""><a _ngcontent-wiv-c50="" routerlink="/contact" ng-reflect-router-link="/contact"
              href="/contact">CONTACT</a></li>
          <li _ngcontent-wiv-c50=""><a _ngcontent-wiv-c50="" routerlink="/about" ng-reflect-router-link="/about"
              href="/about">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </nav><br><br>
<div class="para">
  <h2><b>Dont Wait!</b></h2>
  <h3>lets start to order food now</h3> 
  <button id="b" (click)="book()" routerLink="/contact">Book a Table</button>
</div>